apiVersion: v1
baseDomain: {{ basedomain }}
proxy:
  httpProxy: http://{{ proxy }}
  httpsProxy: http://{{ proxy }}
  noProxy: '{{ no_proxy }}'
additionalTrustBundle: {{ ca_cert }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 2
  platform:
    vsphere:
      cpus: {{ worker_cpus }}
      coresPerSocket: 1
      memoryMB: {{ worker_ram }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
  platform:
    vsphere:
      cpus: {{ controlplane_cpus }}
      coresPerSocket: 2
      memoryMB: {{ controlplane_ram }}
metadata:
  creationTimestamp: null
  name: {{ inventory_hostname }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machine_network }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ service_network }}
platform:
  vsphere:
    apiVIP: {{ api_ip }}
    cluster: {{ vsphere_cluster }}
    datacenter: {{ vsphere_datacenter }}
    defaultDatastore: {{ vsphere_datastore }}
    ingressVIP: {{ ingress_ip }}
    network: {{ vsphere_network }}
    password: {{ vsphere_password }}
    username: {{ vsphere_username }}
    vCenter: {{ vsphere_vcenter }}
    folder: /{{ vsphere_datacenter }}/vm/{{ basedomain }}/{{ inventory_hostname }}
publish: External
pullSecret: '{{ pull_secret }}'
sshKey: '{{ ssh_key }}'
