apiVersion: v1
baseDomain: {{ basedomain }}
proxy:
  httpProxy: http://{{ proxy }}
  httpsProxy: http://{{ proxy }}
  noProxy: '{{ no_proxy }}'
additionalTrustBundle: |
  -----BEGIN CERTIFICATE-----
  MIIDkTCCAnmgAwIBAgIEH/wJHzANBgkqhkiG9w0BAQsFADA3MRUwEwYDVQQKDAxS
  RURCUklER0UuU0UxHjAcBgNVBAMMFUNlcnRpZmljYXRlIEF1dGhvcml0eTAeFw0y
  MTAyMjMwNzE5NTZaFw00MTAyMjMwNzE5NTZaMDcxFTATBgNVBAoMDFJFREJSSURH
  RS5TRTEeMBwGA1UEAwwVQ2VydGlmaWNhdGUgQXV0aG9yaXR5MIIBIjANBgkqhkiG
  9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnfcQwaDppGs5bqiG9j19hRUhml38cobFOksE
  ldZ7ctdWWzTrjI1BDlYHGyIpX0J8eMOh8omFjmTzU13NJVJrkZnQh4aO05PkJFRQ
  H5eP67ttKjDoKq8VUYtYRWqFQZjSqciP32hmvR4n6AVCX7BiEAf7vcNYW+4kY99K
  m9nWPMlJFSNz3ZnFyVsPmGVVySvFaU/GANkugnnHgT3UTQ3lscbuNdyJAqQ2kwGK
  JnGY+0Rj5kQjouzmR0CgzI7HVJhp+fzGYrztXAp5fKtgvSdTmNwUUvIGzKNe8ZIF
  f4YUTP1OuOcRcHD2PrUht83ZTKc3p9HKbNBk23XQmaO9APjxIwIDAQABo4GkMIGh
  MB8GA1UdIwQYMBaAFLmak4wCjknjFoZGz3WZDa+ccxDlMB0GA1UdDgQWBBS5mpOM
  Ao5J4xaGRs91mQ2vnHMQ5TAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIB
  xjA+BggrBgEFBQcBAQQyMDAwLgYIKwYBBQUHMAGGImh0dHA6Ly9pcGEtY2EucmVk
  YnJpZGdlLnNlL2NhL29jc3AwDQYJKoZIhvcNAQELBQADggEBADZmDoS+IcVLpDAG
  bIs4IdI+71cLH6Ot63dahAOnPD2g1HoUAHdWTpghlDwNAPZ87Qt2lW8CPxx8BAVN
  ykeiD7jZyP9veBp4q60bI5XHCgueySiFv0A+9h+33zC+c/Vm+ITrMNFtvVL4MdEd
  iQ8QPahRDYmjVBUoUHea+07dXF7O41ckvc6QoIZwaycVasH/wNeTckw9uNSbj3SC
  24wi9KaBzqt6lZQwLnnR5g63VP6MeJkGaW10qtLbAS84fpCSVMLwSNu0fjxU6wiO
  DciiJ+3Y8nev394bGFL1pnYVc8bjh/LZhs5u4PRxe4PKDDvcOMeHiRCu3V2IdQM8
  l9wzpPg=
  -----END CERTIFICATE-----
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 2
  platform:
    vsphere:
      cpus: {{ worker_cpus }}
      coresPerSocket: 1
      memoryMB: {{ worker_ram }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
  platform:
    vsphere:
      cpus: {{ controlplane_cpus }}
      coresPerSocket: 2
      memoryMB: {{ controlplane_ram }}
metadata:
  creationTimestamp: null
  name: {{ inventory_hostname }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machine_network }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ service_network }}
platform:
  vsphere:
    apiVIP: {{ api_ip }}
    cluster: {{ vsphere_cluster }}
    datacenter: {{ vsphere_datacenter }}
    defaultDatastore: {{ vsphere_datastore }}
    ingressVIP: {{ ingress_ip }}
    network: {{ vsphere_network }}
    password: {{ vsphere_password }}
    username: {{ vsphere_username }}
    vCenter: {{ vsphere_vcenter }}
    folder: /{{ vsphere_datacenter }}/vm/{{ basedomain }}/{{ inventory_hostname }}
publish: External
pullSecret: '{{ pull_secret }}'
sshKey: '{{ ssh_key }}'
